@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background: black;
    height: 100%;
}

input,
button{
    outline: none;
    box-shadow: none;
    border: none;
}

.todo-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    padding: 50px 0px 0px;
}
.todo-list .main-box{
    background: orangered;
    width: 30vw;
    padding: 30px 20px;
    border-radius: 10px;
}
.todo-list .main-box .head {
    display: flex;
    align-items: self-end;
    justify-content: start;
    margin: 0px 0px 20px;
    gap: 12px;
}
.todo-list .main-box .head img{
    width: 50px;
}

.todo-list .main-box .head h1 {
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
}
.todo-list .main-box .row{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 0px 30px;
    height: 45px;
    position: relative;
    overflow: hidden;
}
.todo-list .main-box .row input{
    width: 100%;
    border: 0;
    height: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
}
.todo-list .main-box .row button{
    font-size: 16px;
    line-height: 26px;
    height: 100%;
    padding: 0px 20px;
    background: #000000;
    border-radius: 8px;
    color: #ffffff;
    border: 0;
}
.todo-list .main-box ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px;
    list-style: none;
}
.todo-list .main-box ul li{
    position: relative;
    background: #000;
    padding: 10px 50px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    overflow: hidden;
}

.main-box ul li::before{
    content: "";
    position: absolute;
    top: 11px;
    left: 12px;
    height: 20px;
    width: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background: transparent;
    color: transparent;
}
.todo-list .main-box ul li.checked{
    color: #aaaaaa;
    text-decoration: line-through;
}
.todo-list .main-box ul li.checked::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ffffff;
    border-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff4500;
}
.todo-list .main-box ul li span{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 45px;
    width: 45px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-list .main-box ul li span i{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.todo-list .main-box ul li span i:hover{
    background: #fff;
    color: #000;
}